<!DOCTYPE html>
<html lang="en">
<head>
    <Title>Carga de dados</Title>
    <meta charset="utf-8">
    <meta name="viewport" content="with=device-width, 
initial-scale=1">
</head>
<body>
    <h1>Bem vindo à pagina de carga de dados!</h1>
    <div>
        <form action="{% url "carga:upload_file" %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <label for="file">File:</label>
            <input type="file" name="file" id="id_file">
            </br>
            <input type="submit" name="submit" value="submit">
        </form>
    </div>
</body>